    body {
        font-family: sans-serif;
        background: #eeeec9;
        margin: 0;
        padding: 0;
    }

    @font-face {
        font-family: hand;
        src: url(../fonts/Final.ttf);
    }

    .postcard-container {
        display: flex;
        gap: 20px;
        margin: 20px;
        flex-wrap: wrap;
    }

    /* Sidebar */
    .sidebar {
        width: 230px;
        padding-top: 30px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: #71bec5;
    }

    .sidebar img {
        width: 60px;
        cursor: grab;
        transition: transform 0.2s;
    }

    .sidebar img:active {
        transform: scale(1.2);
    }

    /* Canvas area */
    .canvas-container {
        position: relative;
        width: 1000px;
        height: 600px;
        background: #fff8f0;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }

    #drawCanvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .canvas-container textarea {
        position: absolute;
        bottom: 15px;
        left: 15px;
        width: calc(100% - 30px);
        height: 170px;
        font-family: "hand";
        font-size: 18px;
        background: transparent;
        border: none;
        resize: none;
        z-index: 3;
        color: #333;
        line-height: 1.5;
        padding: 5px;
    }

    /* Controls */
    .postcard-controls {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        align-items: center;
        background-color: #71bec5;
        padding: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 300px;
    }

    .color-picker {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .postcard-controls button {
        padding: 8px 14px;
        font-family: "Asimovian, sans-serif;";
        font-size: 20px;
        color: #232222;
        background: #9795b3;
        border: 2px solid rgba(10, 21, 37, 0.8);
        border-radius: 5px;
        cursor: pointer;
        transition: 0.2s;
    }

    .postcard-controls button:hover {
        background: #d2eeff;
    }

    .postcard-controls button.active {
        background: #d2eeff;
    }

    .placed-icon {
        width: 70px;
        height: auto;
        user-select: none;
        pointer-events: all;
    }

    .canvas-container img.draggable-icon {
        position: absolute;
        width: 80px;
        height: auto;
        cursor: grab;
    }

    .postcard-controls {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    p {
        font-family: "Asimovian, sans-serif;";
        margin-left: 20px;
        font-size: 22px;
        text-decoration: underline;
        padding: 5px;
        margin: 10px;
    }

    label {
        font-family: "Asimovian, sans-serif;";
        font-size: 20px;
    }

    .slider-wrapper {
        position: relative;
        width: 200px;
    }

    input[type="range"] {
        appearance: none;
        -webkit-appearance: none;
        width: 100%;
        height: 8px;
        background: #ddd;
        border-radius: 5px;
        outline: none;
    }

    input[type="range"]::-webkit-slider-runnable-track {
        height: 8px;
        background: #e5e5e5;
        border-radius: 5px;
    }

    /* Thumb is hidden, we use our custom div */
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 0;
        height: 0;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    /* Custom thumb */
    .slider-thumb {
        position: absolute;
        top: 100%;
        left: 0;
        width: 12px;
        height: 12px;
        background-color: #fffefd;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(1);
        pointer-events: none;
        /* so slider still receives input */
        transition: transform 0.05s;
    }

    .intro p {
        text-decoration: none;
        font-size: 20px;
        text-align: center;
        margin-top: 80px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 35px;
        padding: 20px;
        border: #333 solid;

    }

    .canvas-container {
        position: relative;
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }

    #backgroundCanvas {
        z-index: 0;
    }

    #drawCanvas {
        z-index: 1;
    }